background {
    color: linear-gradient(320deg, rgba(2, 189, 159, 0.2),rgba(170, 127, 198, 0.2)),linear-gradient(45deg, rgb(144, 129, 231) 0%,rgb(87, 116, 218) 29%,rgb(30, 102, 205) 46%,rgb(172, 136, 238) 48%,rgb(115, 122, 225) 49%,rgb(59, 109, 211) 70%,rgb(2, 95, 198) 100%);
}
h1{
    text-align: center;
    margin: 0%;
    margin-bottom: 32px;
    line-height: 1.05;
}
h2{
    font-size: 44px;
    margin-bottom: 48px;
}
p{
    font-size:  20px;
    line-height: 1.6;
    margin-bottom: 48px;
}
